.image{
    background-image: url(image/first\ page.png);
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-weight: bold;
   
}
.heading{
    width: 100%;
    height: 700px;
    padding-top: 200px;
    padding-left: 10px;
    font-size: 90px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aliceblue;
}

.para{
    background: black;
    color: aliceblue;
    font-size: 20px;
    
    
}
body{
    background-color:black;
}
h1{
    
    text-align: center;
}
.pa{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.in{
    font-size:30px;
    color:cornsilk;
}
.btn{
    text-decoration: none;
    color: aliceblue;
    font-size: 26px;
}
.card
{
    background-color: rgb(49, 47, 47);
    border: solid 1px;
    border-color:rgb(148, 37, 37);
}
.car{
    margin-left: 120px;
    margin-bottom: 30px;
    float:left;
    margin-bottom: 30px;
}
.row2{
    margin-left: 120px;
    float:left;
    margin-bottom: 30px;
    
}
.row3{
    margin-left: 120px;
    float: left;
    margin-bottom: 30px;
    
    
}
.card-title
{
    color: aliceblue;

}
h1{
    color: aliceblue;
}